body {
    margin: 0;
    
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    body {
        margin: 0;
    }
}

.topnavigation {
    background-color: #D9D9D9;
    overflow: hidden;
    margin-top: 20px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .topnavigation {
        background-color:rgb(229, 136, 136);
        overflow: hidden;
        margin-top: 0px;
    }
}

.topnavigation a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .topnavigation a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
        line-height: 30px;
        color: black;
        float: left;
    }
}

.searchicon {
    position: relative;
    left: 1226px;
    top: -27px;
    height: 20px;
    width: 30px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .searchicon {
    position: relative;
    left: 310px;
    bottom: 26px;
    height: 20px;
    width: 23px;
}
}

.location {
    position: absolute;
    left: 750px;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .location {
        position: relative;
        left: 62px;
        
    }
}

.events {
    position: absolute;
    left: 856px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .events {
        position: relative;
        left: 72px;
    }
}

.aboutus {
    position: absolute;
    left: 942px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .aboutus {
        position: relative;
        left: 82px;
    }
}

.sign {
    position: relative;
    left: 1056px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .sign {
        position: relative;
        left: 92px;
    }
}

.librarylogo {
    position: absolute;
    left: 25px;
    top: 6px;
    height: 80px;
    width: 80px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .librarylogo {
        position: absolute;
        left: -1px;
        top: 1px;
        height: 50px;
        width: 50px;
    }
    
}

.options {
    position: relative; 
    top: 40px;
    left: 32px;
    font-family: 'Mate', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
 
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .options {
        position: relative;
        left: 1px;
        top: 1px;
        font-size: 10px;
    }
}

.searchtext {
    position: absolute;
    width: 140px;
    height: 24px;
    right: 108px;
    top: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .searchtext {
        position: relative;
        left: -83px;
        top: 55px;
        font-size: 12px;
    }
}

.searchbuttons {
    float: right;
    position: absolute;
    left: 870px;
    top: 46px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .searchbuttons {
        position: relative;
        left: -100px;
        top: -62px;
        
    }
}

.title {
    position: absolute;
    width: 120px;
    height: 25px;
    left: -122px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .title {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

.isbn {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 18px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .isbn {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

.dropdowns {
    position: absolute;
    left: 2px;
    top: -9px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .dropdowns {
        position: relative;
        left: -890px;
        top: -70px;
    }
}

#format {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1024px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #format {
        position: relative;
        
        width: 75px;
        height: 20px;
    }
}

#genre {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1114px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #genre {
        width: 67px;
        height: 20px;
    }
}

.circle {
position: absolute;
left: 355px;
top: 280px;
width: 300px;
height: 300px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


.circle {
    position: absolute;
    left: 70px;
    top: 290px;
    width: 200px;
    height: 200px;
    }
}

.camera {
position: absolute;
left: 412px;
top: 340px;
width: 190.67px;
height: 173.33px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .camera {
        position: absolute;
        left: 116px;
        top: 332px;
        width: 110px;
        height: 110px;
        }
}

.upload {
position: absolute;
width: 181px;
height: 30px;
left: 430px;
top: 514px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
text-decoration-line: underline;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .upload {
        position: absolute;
        width: 101px;
        height: 20px;
        left: 116px;
        top: 438px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        text-decoration-line: underline;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
}

.welcome {
position: absolute;
width: 788px;
height: 61px;
left: 450px;
top: 100px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
color: #742C2C;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .welcome {
        position: absolute;
        width: 300px;
        height: 61px;
        left: 90px;
        top: 90px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #742C2C;
        }
}

.lets {
position: absolute;
width: 600px;
height: 61px;
left: 756px;
top: 160px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
color: #ED907F;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .lets {
        position: absolute;
        width: 600px;
        height: 61px;
        left: 90px;
        top: 140px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 61px;
        color: #ED907F;
        }
}

.create {
position: absolute;
width: 466px;
height: 61px;
left: 752px;
top: 224px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
color: #984F1F;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .create {
        position: absolute;
        width: 466px;
        height: 61px;
        left: 90px;
        top: 190px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 61px;
        color: #984F1F;
        }
        
}

.registerform {
    position: absolute;
    left: 740px;
    top: 340px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .registerform {
        position: absolute;
        left: 5px;
        top: 500px;
    }
    
}

fieldset {
    border: none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    fieldset {
        border: none;
    }
    
}

.fullname {
width: 348px;
height: 22px;
background: #D9D9D9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border: none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .fullname {
        width: 294px;
        height: 22px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        }
        
}

.email {
width: 348px;
height: 22px;
background: #D9D9D9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border: none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .email {
        width: 294px;
        height: 22px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        }
        
}

.phone {
width: 348px;
height: 22px;
background: #D9D9D9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border: none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .phone {
        width: 294px;
        height: 22px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        }
}

.address {
width: 348px;
height: 22px;
background: #D9D9D9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border: none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .address {
        width: 294px;
        height: 22px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        }
        
}

.registerbutton {
    width: 170px;
    height: 28px;
    background: #067C44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .registerbutton {
        width: 170px;
        height: 28px;
        background: #067C44;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 17px;
        font-family: 'Tahoma';
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    
}

.already {
position: absolute;
width: 106px;
height: 14px;
left: 930px;
top: 638px;
font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .already {
        position: absolute;
        width: 106px;
        height: 14px;
        left: 192px;
        top: 798px;
        font-family: 'Tahoma';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        }
}

.lastsignin {
position: absolute;
width: 38px;
height: 14px;
left: 1042px;
top: 649px;
font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-decoration-line: underline;
color: #2477D9;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .lastsignin {
        position: absolute;
        width: 38px;
        height: 14px;
        left: 282px;
        top: 807px;
        font-family: 'Tahoma';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 14px;
        text-decoration-line: underline;
        color: #2477D9;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
}
