body {
    margin: 0;
    overflow-x: hidden;
    
}

@media only screen and (max-width: 576px) {
    body {
        margin: 0;
        overflow-x: hidden;
    
}
  }

.topnavigation {
    background-color: #D9D9D9;
    overflow: hidden;
    margin-top: 1.25rem;
}

@media only screen and (max-width: 576px) {
    .topnavigation {
        background-color:rgb(229, 136, 136);
        overflow: hidden;
        margin-top: 0rem;
        max-width: 100%;
      
    }
}

.topnavigation a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    color: black
}

@media only screen and (max-width: 576px) {
    .topnavigation a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 1.875rem;
        color: black;
        z-index: 1;
        max-width: 100%;
        
    }
}

.searchicon {
    position: relative;
    left: 1226px;
    bottom: 267px;
    max-width: 100%;
   
}

@media only screen and (max-width: 576px) {
    .searchicon {
    position: relative;
    left: 20.625rem;
    bottom: 1.625rem;
    height: 1.25rem;
    max-width: 100%;
    
}
}

.location {
    position: absolute;
    left: 750px;
}

@media only screen and (max-width: 576px) {
    .location {
        position: relative;
        left: 3.25rem;
        
    }
}

.events {
    position: absolute;
    left: 856px;
}

@media only screen and (max-width: 576px) {
    .events {
        position: relative;
        left: 3.5rem;
    }
}

.aboutus {
    position: absolute;
    left: 942px;
}

@media only screen and (max-width: 576px) {
    .aboutus {
        position: relative;
        left: 3.75rem;
    }
}

.sign {
    position: relative;
    left: 1056px;
}

@media only screen and (max-width: 576px) { 
    .sign {
        position: relative;
        left: 4.125rem;
    }
}

.librarylogo {
    position: absolute;
    left: 25px;
    top: 6px;
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width: 576px) {
    .librarylogo {
        position: absolute;
        left: -0.063rem;
        top: 0.063rem;
        height: 3.125rem;
        max-width: 100%;
    
       
    }
    
}

.options {
    position: relative; 
    bottom: 200px;
    left: 32px;
    font-family: 'Mate', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
 
}

@media only screen and (max-width: 576px) {
    .options {
        position: relative;
        left: 0.063rem;
        bottom: 61.25rem;
        font-size: 0.625rem;
        max-width: 100%;
    }
}

.searchtext {
    position: absolute;
    width: 140px;
    height: 24px;
    right: 108px;
    top: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (max-width: 576px) {
    .searchtext {
        position: relative;
        left: -4.563rem;
        top: 3.438rem;
        font-size: 0.75rem;
    }
}

.searchbuttons {
    float: right;
    position: absolute;
    left: 870px;
    top: 46px;
}

@media only screen and (max-width: 576px) {
    .searchbuttons {
        position: relative;
        left: -6.25rem;
        top: -3.875rem;
        max-width: 100%;
        
    }
}

.title {
    position: absolute;
    width: 120px;
    height: 25px;
    left: -122px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media only screen and (max-width: 576px) {
    .title {
        position: relative;
        left: 1.25rem;
        width: 3.75rem;
        height: 1.25rem;
    }
}

.isbn {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 18px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
}

@media only screen and (max-width: 576px) {
    .isbn {
        position: relative;
        left: 1.25rem;
        width: 3.75rem;
        height: 1.25rem;
    }
}

.dropdowns {
    position: absolute;
    left: 2px;
    top: -9px;
}

@media only screen and (max-width: 576px) {
    .dropdowns {
        position: relative;
        left: -55.625rem;
        top: -4.375rem;
        max-width: 100%;
    }
}

#format {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1024px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 576px) {
    #format {
        position: relative;
        max-width: 100%;
        height: 1.25rem;
    }
}

#genre {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1114px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 576px) {
    #genre {
        max-width: 100%;
        height: 1.25rem;
    }
}

.firstheader {
    position: absolute;
    max-width: 100%;
    height: 122px;
    left: 250px;
    top: 130px;
    font-family: 'Mate', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 61px;
}

@media only screen and (max-width: 576px) {
    .firstheader {
        position: relative;
        max-width: 70%;
        height: 7.625rem;
        left: 6.875rem;
        top: 1.875rem;
        font-family: 'Mate', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 1.813rem;
        
    }
}

.paragraph {
    position: absolute;
    max-width: 550px;
    height: 209px;
    left: 250px;
    top: 270px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 19px;
}

@media only screen and (max-width: 576px) {
    .paragraph {
        position: relative;
        max-width: 77%;
        height: 25rem;
        left: 4.188rem;
        top: -3.125rem;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.75rem;
        text-align: right;
    }
    
}

.books {
    position: relative;
    left: 760px;
    bottom: -70px;
    max-width: 100%;
    height: 260px;
    border-radius: 57px;
  
}

@media only screen and (max-width: 576px) {
    .books {
        position: relative;
        left: 0.875rem;
        bottom: 6.25rem;
        max-width: 100%;
        height: 12.5rem;
        
    }
}

.kids {
    position: relative;
    left: 360px;
    top: 345px;
    max-width: 100%;
    height: 260px;
    border-radius: 52px;
}

@media only screen and (max-width: 576px) {
    .kids {
        position: relative;
        left: 0.875rem;
        top: -2rem;
        max-width: 100%;
        height: 12.5rem;
        
    }
}

.student {
    position: absolute;
    top: 510px;
    left: 400px;
    width: 330px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    border: 1px solid rgba(12, 48, 64, 0.22);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #742C2C;
    border-radius: 9px;
    color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .student {
        position: relative;
        left: 4.375rem;
        top: -48.75rem;
        max-width: 60%;
        height: 1.875rem;
        font-size: 0.625rem;
        line-height: 1.75rem;
    }
}

.students {
    position: absolute; 
    top: 216px;
    left: 830px;
    width: 340px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    border: 1px solid rgba(12, 48, 64, 0.22);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #742C2C;
    border-radius: 9px;
    color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .students {
        position: relative;
        left: 4.375rem;
        top: -39.375rem;
        max-width: 60%;
        height: 1.875rem;
        font-size: 0.625rem;
        line-height: 1.75rem;
    }
}

.kidsprograms {
    position: absolute;
    top: 513px;
    left: 820px;
    width: 340px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;  
    font-size: 32px;
    line-height: 60px;
    border: 1px solid rgba(12, 48, 64, 0.22);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #742C2C;
    border-radius: 9px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    
}

@media only screen and (max-width: 576px) {
    .kidsprograms {
        position: relative;
        left: 4.375rem;
        top: -26.25rem;
        max-width: 60%;
        height: 1.875rem;
        font-size: 0.625rem;
        line-height: 1.75rem;
    }
}
