body {
    margin: 0;
    overflow-x: hidden;
    
}

@media only screen and (max-width: 375px) {
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 992px) {
    body {
        margin: 0;
        overflow-x: hidden;
        
    }

}

.topnavigation {
    background-color: #D9D9D9;
    overflow: hidden;
    margin-top: 20px;
}

@media only screen and (max-width: 375px) {
    .topnavigation {
        background-color:rgb(229, 136, 136);
        overflow: hidden;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .topnavigation {
        background-color: #D9D9D9;
        overflow: hidden;
        margin-top: 20px;
    }

}

.topnavigation a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black
}

@media only screen and (max-width: 375px) {
    .topnavigation a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
        line-height: 30px;
        color: black;
        float: left;
        z-index: 1;
    }
}

@media only screen and (min-width: 992px) {
    .topnavigation a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: black
    }

}

.searchicon {
    position: relative;
    left: 1226px;
    top: -27px;
    height: 20px;
    width: 30px;
}

@media only screen and (max-width: 375px) {
    .searchicon {
    position: relative;
    left: 330px;
    bottom: 26px;
    height: 20px;
    width: 23px;
}
}

@media only screen and (min-width: 992px) {
    .searchicon {
        position: relative;
        left: 1226px;
        top: -27px;
        height: 20px;
        width: 30px;
    }

}

.location {
    position: absolute;
    left: 750px;
}
@media only screen and (max-width: 375px) {
    .location {
        position: relative;
        left: 52px;
        
    }
}

@media only screen and (min-width: 992px) {
    .location {
        position: absolute;
        left: 750px;
    }

}

.events {
    position: absolute;
    left: 856px;
}

@media only screen and (max-width: 375px) {
    .events {
        position: relative;
        left: 56px;
    }
}

@media only screen and (min-width: 992px) {
    .events {
        position: absolute;
        left: 856px;
    }

}

.aboutus {
    position: absolute;
    left: 942px;
}

@media only screen and (max-width: 375px) {
    .aboutus {
        position: relative;
        left: 60px;
    }
}

@media only screen and (min-width: 992px) {

    .aboutus {
        position: absolute;
        left: 942px;
    }

}

.sign {
    position: relative;
    left: 1056px;
}

@media only screen and (max-width: 375px) {
    .sign {
        position: relative;
        left: 66px;
    }
}

@media only screen and (min-width: 992px) {
    .sign {
        position: relative;
        left: 1056px;
    }

}

.librarylogo {
    position: absolute;
    left: 25px;
    top: 6px;
    height: 80px;
    width: 80px;
}

@media only screen and (max-width: 375px) {
    .librarylogo {
        position: absolute;
        left: -1px;
        top: 1px;
        height: 50px;
        width: 50px;
    }
    
}

@media only screen and (min-width: 992px) {
    .librarylogo {
        position: absolute;
        left: 25px;
        top: 6px;
        height: 80px;
        width: 80px;
    }

}

.options {
    position: relative; 
    top: 40px;
    left: 32px;
    font-family: 'Mate', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
 
}

@media only screen and (max-width: 375px) {
    .options {
        position: relative;
        left: 1px;
        top: 1px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .options {
        position: relative; 
        top: 40px;
        left: 32px;
        font-family: 'Mate', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
     
    }

}

.searchtext {
    position: absolute;
    width: 140px;
    height: 24px;
    right: 108px;
    top: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (max-width: 375px) {
    .searchtext {
        position: relative;
        left: -73px;
        top: 55px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) {
    .searchtext {
        position: absolute;
        width: 140px;
        height: 24px;
        right: 108px;
        top: 12px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

}

.searchbuttons {
    float: right;
    position: absolute;
    left: 870px;
    top: 46px;
}

@media only screen and (max-width: 375px) {
    .searchbuttons {
        position: relative;
        left: -100px;
        top: -62px;
        
    }
}

@media only screen and (min-width: 992px) {
    .searchbuttons {
        float: right;
        position: absolute;
        left: 870px;
        top: 46px;
    }
    

}

.title {
    position: absolute;
    width: 120px;
    height: 25px;
    left: -122px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media only screen and (max-width: 375px) {
    .title {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .title {
        position: absolute;
        width: 120px;
        height: 25px;
        left: -122px;
        top: 25px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border-color: #D9D9D9;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

}

.isbn {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 18px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
}

@media only screen and (max-width: 375px) {
    .isbn {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .isbn {
        position: absolute;
        width: 120px;
        height: 25px;
        left: 18px;
        top: 25px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border-color: #D9D9D9;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
       
    }

}

.dropdowns {
    position: absolute;
    left: 2px;
    top: -9px;
}

@media only screen and (max-width: 375px) {
    .dropdowns {
        position: relative;
        left: -890px;
        top: -70px;
    }
}

@media only screen and (min-width: 992px) {
    .dropdowns {
        position: absolute;
        left: 2px;
        top: -9px;
    }

}

#format {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1024px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 375px) {
    #format {
        position: relative;
        
        width: 75px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #format {
        position: absolute;
        width: 80px;
        height: 25px;
        left: 1024px;
        top: 80px;
        font-family: 'Inter', sans-serif;
        background: #D9D9D9;
        border-radius: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    
    }

}

#genre {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1114px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 375px) {
    #genre {
        width: 67px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #genre {
        position: absolute;
        width: 80px;
        height: 25px;
        left: 1114px;
        top: 80px;
        font-family: 'Inter', sans-serif;
        background: #D9D9D9;
        border-radius: 6px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    
    }

}

.sentence {
    position: absolute;
    left: 590px;
    top: 100px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .sentence {
        position: relative;
        left: 1px;
        top: 224px;
        width: 300px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 24px;
        
}
}

@media only screen and (min-width: 992px) {
    .sentence {
        position: absolute;
        left: 590px;
        top: 100px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
    }

}

.background {
        background-image: url("./assets/Rectangle\ 5.png");
        background-size: contain;
        width: 562px;
        height: 195px;
        position: absolute;
        left: 600px;
        top: 150px;
}

@media only screen and (max-width: 375px) {

    .background {
        background-image: url("./assets/Rectangle\ 5.png");
        background-size: contain;
        width: 290px;
        height: 101px;
        position: absolute;
        left: 8px;
        top: 550px;
}

}

@media only screen and (min-width: 992px) {
    .background {
        background-image: url("./assets/Rectangle\ 5.png");
        background-size: contain;
        width: 562px;
        height: 195px;
        position: absolute;
        left: 600px;
        top: 150px;
}

}

.background2 {
    background-image: url("./assets/Rectangle\ 11.png");
    background-size: contain;
    width: 568px;
    height: 205px;
    position: absolute;
    left: 600px;
    top: 389px;
}

@media only screen and (max-width: 375px) {
    .background2 {
        background-image: url("./assets/Rectangle\ 11.png");
        background-size: contain;
        width: 290px;
        height: 105px;
        position: absolute;
        left: 8px;
        top: 689px;
    }
}

@media only screen and (min-width: 992px) {
    .background2 {
        background-image: url("./assets/Rectangle\ 11.png");
        background-size: contain;
        width: 568px;
        height: 205px;
        position: absolute;
        left: 600px;
        top: 389px;
    }

}

.background3 {
    background-image: url("./assets/Rectangle\ 9.png");
    background-size: contain;
    width: 198px;
    height: 305px;
    position: absolute;
    left: 300px;
    top: 180px;
}

@media only screen and (max-width: 375px) {
    .background3 {
        background-image: url("./assets/Rectangle\ 9.png");
        background-size: contain;
        width: 160px;
        height: 250px;
        position: relative;
        left: 110px;
        top: -210px;
}
}

@media only screen and (min-width: 992px) {
    .background3 {
        background-image: url("./assets/Rectangle\ 9.png");
        background-size: contain;
        width: 198px;
        height: 305px;
        position: absolute;
        left: 300px;
        top: 180px;
    }

}

.notavailable {
position: absolute;
width: 159px;
height: 32px;
left: 320px;
top: 520px;
background: #D9D9D9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #000000;
text-align: center;
}

@media only screen and (max-width: 375px) {
    .notavailable {
position: relative;
width: 140px;
height: 22px;
left: 120px;
top: -190px;
background: #D9D9D9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 17px;
color: #000000;
text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .notavailable {
        position: absolute;
        width: 159px;
        height: 32px;
        left: 320px;
        top: 520px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        text-align: center;
        }
        

}

.placehold {
position: absolute;
width: 154px;
height: 32px;
left: 323px;
top: 580px;
background: #246D2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 28px;
color: #FFFFFF;
text-align: center;
}

@media only screen and (max-width: 375px) {
    .placehold {
position: absolute;
width: 143px;
height: 28px;
left: 120px;
top: 420px;
background: #246D2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 24px;
color: #FFFFFF;
text-align: center;
}
}

@media only screen and (min-width: 992px) {
    .placehold {
        position: absolute;
        width: 154px;
        height: 32px;
        left: 323px;
        top: 580px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: center;
        }

}

.checkout {
position: absolute;
width: 130px;
height: 32px;
left: 890px;
top: 350px;
background: #246D2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
text-align: center;
}

@media only screen and (max-width: 375px) {
    .checkout {
        position: absolute;
        width: 70px;
        height: 18px;
        left: 9px;
        top: 660px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
        }
}

@media only screen and (min-width: 992px) {
    .checkout {
        position: absolute;
        width: 130px;
        height: 32px;
        left: 890px;
        top: 350px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        text-align: center;
        }

}

.checkout2 {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 604px;
    top: 350px;
    background: #246D2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    }

    @media only screen and (max-width: 375px) {
    .checkout2 {
        position: absolute;
        width: 70px;
        height: 18px;
        left: 80px;
        top: 660px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
        }
}

@media only screen and (min-width: 992px) {
    .checkout2 {
        position: absolute;
        width: 130px;
        height: 32px;
        left: 604px;
        top: 350px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        text-align: center;
        }

}

.checkout3 {
        position: absolute;
        width: 130px;
        height: 32px;
        left: 748px;
        top: 350px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        text-align: center;
        }
        
        @media only screen and (max-width: 375px) {
            .checkout3 {
                position: absolute;
                width: 70px;
                height: 18px;
                left: 152px;
                top: 660px;
                background: #246D2B;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 16px;
                color: #FFFFFF;
                text-align: center;
                }
        }

        @media only screen and (min-width: 992px) {
            .checkout3 {
                position: absolute;
                width: 130px;
                height: 32px;
                left: 748px;
                top: 350px;
                background: #246D2B;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
                text-align: center;
                }

        }

    .checkout4 {
            position: absolute;
            width: 130px;
            height: 32px;
            left: 1027px;
            top: 350px;
            background: #246D2B;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
            text-align: center;
            }
            
            @media only screen and (max-width: 375px) {
                .checkout4 {
                    position: absolute;
                    width: 70px;
                    height: 18px;
                    left: 229px;
                    top: 660px;
                    background: #246D2B;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 16px;
                    color: #FFFFFF;
                    text-align: center;
                    }
            }

            @media only screen and (min-width: 992px) {

            .checkout4 {
        position: absolute;
        width: 130px;
        height: 32px;
        left: 1027px;
        top: 350px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        text-align: center;
        }

            }

        .checkout5 {
                position: absolute;
                width: 130px;
                height: 32px;
                left: 1038px;
                top: 600px;
                background: #246D2B;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
                text-align: center;
                }

            @media only screen and (max-width: 375px) {

        .checkout5 {
            position: absolute;
            width: 70px;
            height: 18px;
            left: 9px;
            top: 798px;
            background: #246D2B;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 16px;
            color: #FFFFFF;
            text-align: center;
            }

                }

                @media only screen and (min-width: 992px) {
                    .checkout5 {
                        position: absolute;
                        width: 130px;
                        height: 32px;
                        left: 1038px;
                        top: 600px;
                        background: #246D2B;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 29px;
                        color: #FFFFFF;
                        text-align: center;
                        }

                }
                
            .checkout6 {
                    position: absolute;
                    width: 130px;
                    height: 32px;
                    left: 602px;
                    top: 600px;
                    background: #246D2B;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                    color: #FFFFFF;
                    text-align: center;
                    }
                    
                    @media only screen and (max-width: 375px) {
                        .checkout6 {
                            position: absolute;
                            width: 70px;
                            height: 18px;
                            left: 80px;
                            top: 798px;
                            background: #246D2B;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 5px;
                            font-family: 'Inter', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 16px;
                            color: #FFFFFF;
                            text-align: center;
                            }
                    }

                    @media only screen and (min-width: 992px) {
                        .checkout6 {
                            position: absolute;
                            width: 130px;
                            height: 32px;
                            left: 602px;
                            top: 600px;
                            background: #246D2B;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 5px;
                            font-family: 'Inter', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 29px;
                            color: #FFFFFF;
                            text-align: center;
                            }

                    }

                .checkout7 {
                        position: absolute;
                        width: 130px;
                        height: 32px;
                        left: 746px;
                        top: 600px;
                        background: #246D2B;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 29px;
                        color: #FFFFFF;
                        text-align: center;
                        }

                        @media only screen and (max-width: 375px) {
                            .checkout7 {
                                position: absolute;
                                width: 70px;
                                height: 18px;
                                left: 152px;
                                top: 798px;
                                background: #246D2B;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 5px;
                                font-family: 'Inter', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 16px;
                                color: #FFFFFF;
                                text-align: center;
                                }
        
                        }

                        @media only screen and (min-width: 992px) {
                            .checkout7 {
                                position: absolute;
                                width: 130px;
                                height: 32px;
                                left: 746px;
                                top: 600px;
                                background: #246D2B;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 5px;
                                font-family: 'Inter', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 29px;
                                color: #FFFFFF;
                                text-align: center;
                                }

                        }
                        
                    .checkout8 {
                            position: absolute;
                            width: 130px;
                            height: 32px;
                            left: 892px;
                            top: 600px;
                            background: #246D2B;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 5px;
                            font-family: 'Inter', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 29px;
                            color: #FFFFFF;
                            text-align: center;
                            }

                            @media only screen and (max-width: 375px) {
                                .checkout8 {
                                    position: absolute;
                                    width: 70px;
                                    height: 18px;
                                    left: 229px;
                                    top: 798px;
                                    background: #246D2B;
                                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                                    border-radius: 5px;
                                    font-family: 'Inter', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 16px;
                                    color: #FFFFFF;
                                    text-align: center;
                                    }
                            }

                            @media only screen and (min-width: 992px) {
                                .checkout8 {
                                    position: absolute;
                                    width: 130px;
                                    height: 32px;
                                    left: 892px;
                                    top: 600px;
                                    background: #246D2B;
                                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                                    border-radius: 5px;
                                    font-family: 'Inter', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 20px;
                                    line-height: 29px;
                                    color: #FFFFFF;
                                    text-align: center;
                                    }

                            }
                            
.pagination {
    position: absolute;
    left: 1050px;
    top: 650px;
    display: inline-block;
    text-decoration: underline;
    color: #000000;
    padding: -1px 0px 22px;
    font-size: 22px;
}

@media only screen and (max-width: 375px) {
    .pagination {
        position: absolute;
        left: 250px;
        top: 850px;
        display: inline-block;
        text-decoration: underline;
        color: #000000;
        padding: -1px 0px 22px;
        font-size: 8px;
    }
}

@media only screen and (min-width: 992px) {
    .pagination {
        position: absolute;
        left: 1050px;
        top: 650px;
        display: inline-block;
        text-decoration: underline;
        color: #000000;
        padding: -1px 0px 22px;
        font-size: 22px;
    }
    

}

.num1 {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
text-decoration-line: underline;
color: #000000;
}

@media only screen and (max-width: 375px) {
    .num1 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 30px;
        text-decoration-line: underline;
        color: #000000;
        }
}
                        
@media only screen and (min-width: 992px) {
    .num1 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        text-decoration-line: underline;
        color: #000000;
        }

}