body {
    margin: 0;
    overflow-x: hidden;
    
}

@media only screen and (max-width: 375px) {
    body {
        margin: 0;
        overflow-x: hidden;
    
}
  }

  @media only screen and (min-width: 992px) {
    body {
        margin: 0;
        overflow-x: hidden;
        
    }
    
}

.topnavigation {
    background-color: #D9D9D9;
    overflow: hidden;
    margin-top: 20px;
}

@media only screen and (max-width: 375px) {
    .topnavigation {
        background-color:rgb(229, 136, 136);
        overflow: hidden;
        margin-top: 0px;
      
    }
}

@media only screen and (min-width: 992px) {
    .topnavigation {
        background-color: #D9D9D9;
        overflow: hidden;
        margin-top: 20px;
    }

}

.topnavigation a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black
}

@media only screen and (max-width: 375px) {
    .topnavigation a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 10px;
        line-height: 30px;
        color: black;
        z-index: 1;
    }
}

@media only screen and (min-width: 992px) {
    .topnavigation a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: black
    }

}

.searchicon {
    position: relative;
    left: 1226px;
    bottom: 267px;
    height: 20px;
    width: 30px;
}

@media only screen and (max-width: 375px) {
    .searchicon {
    position: relative;
    left: 330px;
    bottom: 26px;
    height: 20px;
    width: 23px;
    
}
}

@media only screen and (min-width: 992px) {
    .searchicon {
        position: relative;
        left: 1226px;
        bottom: 267px;
        height: 20px;
        width: 30px;
    }

}

.location {
    position: absolute;
    left: 750px;
}

@media only screen and (max-width: 375px) {
    .location {
        position: relative;
        left: 52px;
        
    }
}

@media only screen and (min-width: 992px) {
    .location {
        position: absolute;
        left: 750px;
    }

}

.events {
    position: absolute;
    left: 856px;
}

@media only screen and (max-width: 375px) {
    .events {
        position: relative;
        left: 56px;
    }
}

@media only screen and (min-width: 992px) {
    .events {
        position: absolute;
        left: 856px;
    }

}

.aboutus {
    position: absolute;
    left: 942px;
}

@media only screen and (max-width: 375px) {
    .aboutus {
        position: relative;
        left: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .aboutus {
        position: absolute;
        left: 942px;
    }

}

.sign {
    position: relative;
    left: 1056px;
}

@media only screen and (max-width: 375px) { 
    .sign {
        position: relative;
        left: 66px;
    }
}

@media only screen and (min-width: 992px) {
    .sign {
        position: relative;
        left: 1056px;
    }

}

.librarylogo {
    position: absolute;
    left: 25px;
    top: 6px;
    height: 80px;
    width: 80px;
}

@media only screen and (max-width: 375px) {
    .librarylogo {
        position: absolute;
        left: -1px;
        top: 1px;
        height: 50px;
        width: 50px;
    
       
    }
    
}

@media only screen and (min-width: 992px) {
    .librarylogo {
        position: absolute;
        left: 25px;
        top: 6px;
        height: 80px;
        width: 80px;
    }

}

.options {
    position: relative; 
    bottom: 200px;
    left: 32px;
    font-family: 'Mate', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
 
}

@media only screen and (max-width: 375px) {
    .options {
        position: relative;
        left: 1px;
        bottom: 980px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .options {
        position: relative; 
        bottom: 200px;
        left: 32px;
        font-family: 'Mate', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
     
    }

}

.searchtext {
    position: absolute;
    width: 140px;
    height: 24px;
    right: 108px;
    top: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (max-width: 375px) {
    .searchtext {
        position: relative;
        left: -73px;
        top: 55px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) {
    .searchtext {
        position: absolute;
        width: 140px;
        height: 24px;
        right: 108px;
        top: 12px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

}

.searchbuttons {
    float: right;
    position: absolute;
    left: 870px;
    top: 46px;
}

@media only screen and (max-width: 375px) {
    .searchbuttons {
        position: relative;
        left: -100px;
        top: -62px;
        
    }
}

@media only screen and (min-width: 992px) {
    .searchbuttons {
        float: right;
        position: absolute;
        left: 870px;
        top: 46px;
    }

}

.title {
    position: absolute;
    width: 120px;
    height: 25px;
    left: -122px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media only screen and (max-width: 375px) {
    .title {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .title {
        position: absolute;
        width: 120px;
        height: 25px;
        left: -122px;
        top: 25px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border-color: #D9D9D9;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    

}

.isbn {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 18px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
}

@media only screen and (max-width: 375px) {
    .isbn {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .isbn {
        position: absolute;
        width: 120px;
        height: 25px;
        left: 18px;
        top: 25px;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border-color: #D9D9D9;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
       
    }

}

.dropdowns {
    position: absolute;
    left: 2px;
    top: -9px;
}

@media only screen and (max-width: 375px) {
    .dropdowns {
        position: relative;
        left: -890px;
        top: -70px;
    }
}

@media only screen and (min-width: 992px) {
    .dropdowns {
        position: absolute;
        left: 2px;
        top: -9px;
    }

}

#format {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1024px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 375px) {
    #format {
        position: relative;
        width: 75px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #format {
        position: absolute;
        width: 80px;
        height: 25px;
        left: 1024px;
        top: 80px;
        font-family: 'Inter', sans-serif;
        background: #D9D9D9;
        border-radius: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    
    }

}

#genre {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1114px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 375px) {
    #genre {
        width: 67px;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #genre {
        position: absolute;
        width: 80px;
        height: 25px;
        left: 1114px;
        top: 80px;
        font-family: 'Inter', sans-serif;
        background: #D9D9D9;
        border-radius: 6px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    
    }

}

.firstheader {
    position: absolute;
    width: 409px;
    height: 122px;
    left: 250px;
    top: 130px;
    font-family: 'Mate', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 61px;
}

@media only screen and (max-width: 375px) {
    .firstheader {
        position: relative;
        width: 100%;
        height: 122px;
        left: 110px;
        top: 30px;
        font-family: 'Mate', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        
    }
}

@media only screen and (min-width: 992px) {
    .firstheader {
        position: absolute;
        width: 409px;
        height: 122px;
        left: 250px;
        top: 130px;
        font-family: 'Mate', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 61px;
    }

}

.paragraph {
    position: absolute;
    width: 550px;
    height: 209px;
    left: 250px;
    top: 270px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

@media only screen and (max-width: 375px) {
    .paragraph {
        position: relative;
        width: 220px;
        height: 400px;
        left: 67px;
        top: -50px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: right;
    }
   
  
}

@media only screen and (min-width: 992px) {
    .paragraph {
        position: absolute;
        width: 550px;
        height: 209px;
        left: 250px;
        top: 270px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
    }

}

.books {
    position: relative;
    left: 760px;
    bottom: -70px;
    width: 400px;
    height: 260px;
    border-radius: 57px;
  
}

@media only screen and (max-width: 375px) {
    .books {
        position: relative;
        left: 14px;
        bottom: 100px;
        width: 270px;
        height: 200px;
        
    }
}

@media only screen and (min-width: 992px) {
    .books {
        position: relative;
        left: 760px;
        bottom: -70px;
        width: 400px;
        height: 260px;
        border-radius: 57px;
      
    }
    

}

.kids {
    position: relative;
    left: 360px;
    top: 345px;
    width: 399px;
    height: 260px;
    border-radius: 52px;
}

@media only screen and (max-width: 375px) {
    .kids {
        position: relative;
        left: 14px;
        top: -32px;
        width: 270px;
        height: 200px;
        
    }
}

@media only screen and (min-width: 992px) {
    .kids {
        position: relative;
        left: 360px;
        top: 345px;
        width: 399px;
        height: 260px;
        border-radius: 52px;
    }

}

.student {
    position: absolute;
    top: 510px;
    left: 400px;
    width: 330px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    border: 1px solid rgba(12, 48, 64, 0.22);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #742C2C;
    border-radius: 9px;
    color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .student {
        position: relative;
        left: 70px;
        top: -780px;
        width: 160px;
        height: 30px;
        font-size: 10px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 992px) {
    .student {
        position: absolute;
        top: 510px;
        left: 400px;
        width: 330px;
        height: 60px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 60px;
        border: 1px solid rgba(12, 48, 64, 0.22);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #742C2C;
        border-radius: 9px;
        color: #FFFFFF;
        text-align: center;
    }

}

.students {
    position: absolute; 
    top: 216px;
    left: 830px;
    width: 340px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    border: 1px solid rgba(12, 48, 64, 0.22);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #742C2C;
    border-radius: 9px;
    color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .students {
        position: relative;
        left: 70px;
        top: -630px;
        width: 160px;
        height: 30px;
        font-size: 10px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 992px) {
    .students {
        position: absolute; 
        top: 216px;
        left: 830px;
        width: 340px;
        height: 60px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 60px;
        border: 1px solid rgba(12, 48, 64, 0.22);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #742C2C;
        border-radius: 9px;
        color: #FFFFFF;
        text-align: center;
    }

}

.kidsprograms {
    position: absolute;
    top: 513px;
    left: 820px;
    width: 340px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;  
    font-size: 32px;
    line-height: 60px;
    border: 1px solid rgba(12, 48, 64, 0.22);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #742C2C;
    border-radius: 9px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    
}

@media only screen and (max-width: 375px) {
    .kidsprograms {
        position: relative;
        left: 70px;
        top: -420px;
        width: 160px;
        height: 30px;
        font-size: 10px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 992px) {
    .kidsprograms {
        position: absolute;
        top: 513px;
        left: 820px;
        width: 340px;
        height: 60px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;  
        font-size: 32px;
        line-height: 60px;
        border: 1px solid rgba(12, 48, 64, 0.22);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #742C2C;
        border-radius: 9px;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        
    }

}