body {
    margin: 0;
    overflow-x: hidden;
    
}

@media only screen and (max-width: 576px) {
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

.topnavigation {
    background-color: #D9D9D9;
    overflow: hidden;
    margin-top: 1.25rem;
}

@media only screen and (max-width: 576px) {
    .topnavigation {
        background-color:rgb(229, 136, 136);
        overflow: hidden;
        margin-top: 0rem;
    }
}

.topnavigation a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black
}

@media only screen and (max-width: 576px) {
    .topnavigation a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.875rem;
        color: black;
        float: left;
        z-index: 1;
        max-width: 100%;
    }
}

.searchicon {
    position: relative;
    left: 1226px;
    top: -27px;
    height: 20px;
    width: 30px;
}

@media only screen and (max-width: 576px) {
    .searchicon {
    position: relative;
    left: 330px;
    bottom: 26px;
    height: 20px;
    max-width: 100%;
}
}

.location {
    position: absolute;
    left: 750px;
}

@media only screen and (max-width: 576px) {
    .location {
        position: relative;
        left: 54px;
        
    }
}

.events {
    position: absolute;
    left: 856px;
}

@media only screen and (max-width: 576px) {
    .events {
        position: relative;
        left: 60px;
    }
}

.aboutus {
    position: absolute;
    left: 942px;
}

@media only screen and (max-width: 576px) {
    .aboutus {
        position: relative;
        left: 68px;
    }
}

.sign {
    position: relative;
    left: 1056px;
}

@media only screen and (max-width: 576px) {
    .sign {
        position: relative;
        left: 72px;
    }
}

.librarylogo {
    position: absolute;
    left: 25px;
    top: 6px;
    height: 80px;
    width: 80px;
}

@media only screen and (max-width: 576px) {
    .librarylogo {
        position: absolute;
        left: -1px;
        top: 1px;
        height: 50px;
        max-width: 14%;
    }
    
}

.options {
    position: relative; 
    top: 40px;
    left: 32px;
    font-family: 'Mate', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
 
}

@media only screen and (max-width: 576px) {
    .options {
        position: relative;
        left: 1px;
        top: 1px;
        font-size: 0.625rem;
        max-width: 100%;
    }
}

.searchtext {
    position: absolute;
    width: 140px;
    height: 24px;
    right: 108px;
    top: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (max-width: 576px) {
    .searchtext {
        position: relative;
        left: -73px;
        top: 55px;
        font-size: 0.75rem;
    }
}

.searchbuttons {
    float: right;
    position: absolute;
    left: 870px;
    top: 46px;
}

@media only screen and (max-width: 576px) {
    .searchbuttons {
        position: relative;
        left: -100px;
        top: -62px;
        max-width: 100%;
        
    }
}

.title {
    position: absolute;
    width: 120px;
    height: 25px;
    left: -122px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media only screen and (max-width: 576px) {
    .title {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

.isbn {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 18px;
    top: 25px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
}

@media only screen and (max-width: 576px) {
    .isbn {
        position: relative;
        left: 20px;
        width: 60px;
        height: 20px;
    }
}

.dropdowns {
    position: absolute;
    left: 2px;
    top: -9px;
}

@media only screen and (max-width: 576px) {
    .dropdowns {
        position: relative;
        left: -890px;
        top: -70px;
    }
}

#format {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1024px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 576px) {
    #format {
        position: relative;
        max-width: 100%;
        height: 20px;
    }
}

#genre {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1114px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    background: #D9D9D9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

@media only screen and (max-width: 576px) {
    #genre {
        max-width: 100%;
        height: 20px;
    }
}

.bookcover {
    position: absolute;
    left: 300px;
    height: 400px;
    top: 140px;
}

@media only screen and (max-width: 576px) {
    .bookcover {
        position: absolute;
        left: 96px;
        height: 310px;
        top: 130px;
        max-width: 100%;
    }
    }

.checkout {
    position: absolute;
    width: 190px;
    height: 42px;
    left: 340px;
    top: 608px;
    background: #246D2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    }

    @media only screen and (max-width: 576px) {

    .checkout {
        position: absolute;
        max-width: 100%;
        height: 40px;
        left: 126px;
        top: 480px;
        background: #246D2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 17px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.438rem;
        line-height: 1.25rem;
        color: #FFFFFF;
        text-align: center;
        }
}

.rating {
position: absolute;
width: 60px;
height: 27px;
left: 340px;
top: 526px;
font-family: 'Tiro Devanagari Hindi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
}

@media only screen and (max-width: 576px) {

    .rating {
        position: absolute;
        max-width: 100%;
        height: 27px;
        left: 110px;
        top: 425px;
        font-family: 'Tiro Devanagari Hindi';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.625rem;
        }
}

.stars {
        position: absolute;
        left: 400px;
        top: 550px;
    }

    @media only screen and (max-width: 576px) {

    .stars {
        position: absolute;
        left: 170px;
        top: 446px;
        max-width: 100%;
    }
}
    
.star4 {
    position: absolute;
    left: 71px;
    bottom: 2px;
}

@media only screen and (max-width: 576px) {

    .star4 {
        position: absolute;
        left: 71px;
        bottom: 2px;
        max-width: 100%;
    }
    
}

.star5 {
    position: absolute;
    left: 97px;
    bottom: 3.5px;
}

@media only screen and (max-width: 576px) {

    .star5 {
        position: absolute;
        left: 97px;
        bottom: 3.5px;
        max-width: 100%;
    }
}

.bookinfo {
    position: absolute;
    left: 650px;
    top: 110px;
    width: 310px;
    height: 49px;
    font-family: 'Mandali';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

@media only screen and (max-width: 576px) {

    .bookinfo {
        position: absolute;
        left: 56px;
        top: 530px;
        max-width: 100%;
        height: 49px;
        font-family: 'Mandali';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.summary {
position: absolute;
width: 133px;
height: 35px;
left: 650px;
top: 280px;
font-family: 'Tienne';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 35px;
}

@media only screen and (max-width: 576px) {


.summary {
    position: absolute;
    max-width: 100%;
    height: 35px;
    left: 128px;
    top: 680px;
    font-family: 'Tienne';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    }
}

.paragraph1 {
position: absolute;
width: 600px;
height: 215px;
left: 650px;
top: 324px;
font-family: 'Merge One';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 31px;
}

@media only screen and (max-width: 576px) {

    .paragraph1 {
        position: absolute;
        max-width: 90%;
        height: 215px;
        left: 8px;
        top: 710px;
        font-family: 'Merge One';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        }
}

.readmore {
position: absolute;
width: 115px;
height: 27px;
left: 770px;
top: 467px;
font-family: 'Tienne';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 27px;
text-decoration-line: underline;
color: #1865D9;
}

@media only screen and (max-width: 576px) {


.readmore {
    position: absolute;
    max-width: 100%;
    height: 27px;
    left: 220px;
    top: 976px;
    font-family: 'Tienne';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration-line: underline;
    color: #1865D9;
    }
}

.reviews {
position: absolute;
width: 114px;
height: 35px;
left: 650px;
top: 470px;
font-family: 'Tienne';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 35px;
}

@media only screen and (max-width: 576px) {

    .reviews {
        position: absolute;
        max-width: 100%;
        height: 35px;
        left: 134px;
        top: 990px;
        font-family: 'Tienne';
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 2rem;
        }
        
}

.paragraph2 {
position: absolute;
width: 600px;
height: 100px;
left: 652px;
top: 510px;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 33px;
}

@media only screen and (max-width: 576px) {

    .paragraph2 {
        position: absolute;
        max-width: 90%;
        height: 100px;
        left: 16px;
        top: 1020px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        
        }
        
}

.paragraph3 {
position: absolute;
width: 600px;
height: 100px;
left: 652px;
top: 572px;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 33px;
}

@media only screen and (max-width: 576px) {


.paragraph3 {
    position: absolute;
    max-width: 90%;
    height: 100px;
    left: 16px;
    top: 1170px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    }
    
}

.readmore2 {
    position: absolute;
    width: 115px;
    height: 27px;
    left: 1090px;
    top: 562px;
    font-family: 'Tienne';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #1865D9;
    }

    @media only screen and (max-width: 576px) {

        .readmore2 {
            position: absolute;
            max-width: 100%;
            height: 27px;
            left: 139px;
            top: 1137px;
            font-family: 'Tienne';
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.75rem;
            text-decoration-line: underline;
            color: #1865D9;
            }
        
    }

.readmore3 {
        position: absolute;
        width: 115px;
        height: 27px;
        left: 1162px;
        top: 624px;
        font-family: 'Tienne';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        text-decoration-line: underline;
        color: #1865D9;
        }
        
        @media only screen and (max-width: 576px) {

            .readmore3 {
                position: absolute;
                max-width: 100%;
                height: 27px;
                left: 253px;
                top: 1289px;
                font-family: 'Tienne';
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.75rem;
                text-decoration-line: underline;
                color: #1865D9;
                }
        }
